/* Ho cercato di rendere le media query più simili 
al sito originale ( non solo alle immagini). Quindi i valori in px non sono proprio quelli standard */

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
  #bloccoGiallo h2 {
    font-size: 1.5em;
  }
  main {
    padding: 0 50px;
  }
  /* PRIMO ARTICOLO */

  #firstArticle h2 {
    font-size: 0.9em;
  }
  .container1 span {
    font-size: 1.8em;
  }
  .container1 > .card {
    padding-right: 40px;
  }

  .card {
    padding-left: 20px;
    padding-right: 20px;
  }
  .card h4 {
    font-size: 0.7em;
  }

  .card h3 {
    font-size: 1em;
  }
  .card p {
    font-size: 0.8em;
  }

  /* secondo blocco article */

  .card h5 {
    font-size: 1.2em;
  }

  /* aside */

  aside h6 {
    font-size: 1em;
  }

  aside button {
    font-size: 0.8em;
    padding: 6px 12px;
    margin: 2px;
  }

  aside ul li {
    font-size: 0.8em;
  }
}
/* 1024px>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
  #bloccoGiallo h2 {
    font-size: 1.3em;
  }
  main {
    padding: 0 35px;
  }
  /* PRIMO ARTICOLO */
  #firstArticle {
    margin-bottom: 30px;
  }
  #firstArticle h2 {
    font-size: 0.85em;
  }

  .container1 {
    margin: 20px 5px;
  }
  .container1 span {
    font-size: 1.6em;
  }

  .card {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* secondo blocco article */

  .card h5 {
    font-size: 1.1em;
  }

  /* aside */

  aside div {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  aside button {
    font-size: 0.7em;
    padding: 4px 8px;
    margin: 1px;
  }

  aside ul li {
    font-size: 0.7em;
  }
}
/* 900>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media screen and (max-width: 900px) {
  .container1 {
    /* border: 1px solid green; */
    width: 45%;

    margin: 25px 10px;
  }

  .container {
    display: flex;

    flex-direction: column-reverse;
  }
  #secondArticle {
    width: 100%;
  }
  .last {
    width: 100%;
  }

  aside button {
    font-size: 1em;
    padding: 6px 12px;
    margin: 2px;
  }

  aside ul li {
    font-size: 0.8em;
  }
}
/* 768>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media screen and (max-width: 768px) {
  #firstArticle {
    padding: 50px 0px;
  }
  main {
    padding: 10px;
  }
  h1 {
    font-size: 4rem;
  }
  #bloccoGiallo h2 {
    font-size: 1.6em;
  }
  #bloccoGiallo svg {
    display: none;
  }
  #bloccoGiallo div {
    width: 100%;
    padding: 40px;
  }
  .container1 {
    /* border: 1px solid green; */
    width: 100%;

    margin: 25px 10px;
  }
  .blocco > img {
    width: 200px;
  }
  nav li:first-of-type {
    display: none;
  }
  nav li:nth-of-type(2) {
    display: none;
  }
  nav li:nth-of-type(3) {
    display: none;
  }
  aside button {
    font-size: 0.7em;
    padding: 4px 8px;
    margin: 1px;
  }

  aside ul li {
    font-size: 0.7em;
  }
}
/* 480>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>x */
@media screen and (max-width: 480px) {
  nav li:nth-of-type(4) {
    display: none;
  }
  main {
    padding: 1px;
  }
  .blocco > img {
    width: 150px;
  }
  h1 {
    font-size: 3em;
  }
  nav ul {
    padding-right: 5px;
  }

  #bloccoGiallo h2 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 350px) {
  header h2 {
    padding-left: 10px;
    width: 50%;
  }
  header h2 svg {
    width: 80%;
  }
  nav ul li span {
    font-size: 0.8em;
    padding: 10px 6px;
    border-radius: 50px;
  }
}
